body {

  background-color: white;
}

p {
  margin: 0 auto 0 auto;
  text-align: center;
  width: 50%;
  font-size: 70px;
  font-family: 'Amatic SC', cursive;
}
#audioSwitcher {
  width: 40px;
  height: 40px;
  display: inline-block;
  float: right;
  margin: -60px 20px;
}
.motherBrick {
  text-align: center;
  width: 100px;
  height: 50px;
  background-color: lightgrey;

  display: block;
  margin-left: auto;
  margin-right: auto;
}

.board {
  position: relative;
  background-color: white;
  width: 400px;
  height: 400px;
  display: block;
  margin: 0px auto 20px auto;
}


.spawn {

  position: relative;
  width: 400px;
  height: 50px;
  display: block;
  margin: 20px auto 0px auto;
}

.cell {

  width: 100px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #a5aa9f;
  float: left;
}

.brick {

  width: 100px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: navy;
  position: relative;
}

.newBrick {
  width: 100px;
  height: 50px;
  position:absolute;
  line-height: 50px;
  text-align: center;
  background-color: navy;
}

.buttons {
  background-color: white;
  /*display: inline-block;*/
  width: 408px;
  height: 50px;

  display: block;

  margin: 20px auto;
}

.rowButton {

  width: 100px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: grey;
  border: 1px solid black;
  float: left;
  font-size: 40px;
}

#score {
  text-align: center;
  width: 100%;
  font-size: 30px;
  font-family: 'Josefin Sans', sans-serif;
}

span {
  display: none;
}
