body {
  background: white;
}

h1 {
  text-align: center;
  width: 100%;
  font-size: 30px;
}

.motherBrick {
  text-align: center;
  width: 100px;
  height: 50px;
  background-color: lightgrey;

  display: block;
  margin-left: auto;
  margin-right: auto;
}

.board {
  position: relative;
  background-color: white;
  width: 400px;
  height: 400px;
  display: block;
  margin: 20px auto;
}

.cell {

  width: 100px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: grey;
  float: left;
}

.brick {

  width: 100px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: navy;
  position: relative;
}

.newBrick {
  width: 100px;
  height: 50px;
  position:absolute;
  line-height: 50px;
  text-align: center;
  background-color: navy;
}

.buttons {
  background-color: white;
  /*display: inline-block;*/
  width: 408px;
  height: 50px;

  display: block;

  margin: 20px auto;
}

.rowButton {

  width: 100px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: grey;
  border: 1px solid black;
  float: left;
  font-size: 40px;
}

#score {
  text-align: center;
  width: 100%;
  font-size: 20px;
}

span {
  display: none;
}
